* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #f5f5f5;
    display: inline-block;
  }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: black;
      text-align: center;
      padding: 12px 12px;
      margin-left: 15px;
      text-decoration: none;
      font-size: 16px;
      font-family: 'Roboto';
      transition: all .60s, color .30s;
    }
    
    li a:hover:not(.active) {
      background-color: rgb(1, 73, 162);
      color: white;
    }
    
    .active {
      background-color: rgb(2, 62, 138);
      color: white;
    }
    
    .form-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

    }
    
    .container-nav{
      display: flex;
      align-items: center;
      align-content: center;
      position: relative;
      height: 79px;
    }

    .stat{
      position: absolute;
      right: 0px; 
    }
    .nav-icon{
      margin-left: 20px;
      height: auto;
      width: 70px;
    }
 

    .Register {
      color: black;
      border: .2px solid black;
      margin-left: 8px;
      font-weight: 16px;
      width: 91px;
      height: 41px;
      border-radius: 5px;
      background: rgb(233, 236, 239);
      transition: all .60s;
    }
    .Signin{
      color: white;
      border: .2px solid black;
      margin-left: 8px;
      font-weight: 16px;
      width: 91px;
      height: 41px;
      border-radius: 5px;
      border: none;
      background: rgb(1, 73, 162);
      transition: all .60s;
    }
    .Register2{
      color: white;
      border: .2px solid black;
      margin-left: 8px;
      font-weight: 16px;
      width: 91px;
      height: 41px;
      border-radius: 5px;
      border: none;
      background: rgb(1, 73, 162);
      transition: all .60s;
    }

    .Register:hover{
      opacity: 0.8;
      cursor: pointer;
      color: white;
      background: rgb(1, 73, 162);
    }
    .Register2:hover{
      opacity: 0.7;
      cursor: pointer;
    } 
    .Signin:hover{
      opacity: 0.7;
      cursor: pointer;
    }

    .placehoder-format{
      width: 250px;
      height: 40px;
      border-radius: 5px;
      margin-bottom: 5px;
      display:inline;
    }
    .box-format{
      width: 250px;
      height: 40px;
      border-radius: 5px;
    }
    .box-format-school{
      width: 227px;
      height: 40px;
      border-radius: 5px;
    }

    .placehoder-format-id{
      width: 180px;
      height: 41px;
      border-radius: 5px;
    }

    .Register-container{
      text-align: center;
    }

    .sex,.suffix{
      width: 110px;
      height: 40px;
      border-radius: 5px;
    }

    .zipCode{
      width: 111px;
      height: 40px;
      border-radius: 5px;
    }

    .type-manual{
      width: 435px;
      height: 45px;
      margin-top: 5px;
    }
h2{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  margin-top: 20px;
}

/*Animations in placeholder*/
input:focus::-webkit-input-placeholder {
  font-size: .95em;
  position: relative;
  top: -12px; 
  left: 2px;
  transition: all 2s ease-in;
}

input::-webkit-input-placeholder {
  transition: 2s ease-out;
  color: black;
}

.terms {
    text-align: center;
    font-size: 0.875rem;
    color: #666;
    margin-bottom: 1.1rem;
    margin-top: 15px;
}

.login-link {
    text-align: center;
    color: black;
    margin-bottom: 30px;

}

.a1{
  color: #666;
  text-decoration: underline;
  transition: all 1s;
}

.a2{
  color: black;
  text-decoration: underline;
  transition: all 1s;
}

.a1:hover,.a2:hover{
  text-decoration: none;
  opacity: .7;
}